a {
    font-size: 16px;
    color: #0645AD;
}

@font-face {
    font-family: headerFont;
    src: url(angry-font.otf);
}

h1 {
    font-size: 50px;
    font-family: headerFont, sans-serif;
}

h2, h3 {
    font-family: headerFont, sans-serif;
}

h4, h5, h6 {
    font-weight: bold;
}

.main-title {
    font-size: 90px;
}

body, p, .label {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

.show-more, .restaurant-list, .create-account {
    width: 100%;
    margin-right: auto;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.65);
    border-radius: 15px 15px 15px 15px;
    padding: 10px 10px 10px 10px;
    overflow: auto;
    height: 600px;
}

.search-greeting, .profile-page, .no-results, .homepage-header, .homepage-forms {
    background: rgba(255, 255, 255, 0.65);
    border-radius: 15px 15px 15px 15px;
    padding: 20px 20px 20px 20px;
}


body, html {
    background-size: cover;
    background: url("burger-1835192_1920.jpg") no-repeat center center;
    height: 100%;
}