a {
    font-size: 18px;
}

.show-more {
    width: 100%;
    margin-right: auto;
    margin-top: 20px;
    background-color: white;
    border: #5BC0DE 3px solid;
    border-radius: 15px 15px 15px 15px;
    padding: 10px 10px 10px 10px;
    overflow-y: scroll;
    height: 600px;
}

.profile-chart {
    width: 100%;
    margin-right: auto;
    margin-top: 20px;
    background-color: white;
    border: #5BC0DE 3px solid;
    border-radius: 15px 15px 15px 15px;
    padding: 10px 10px 10px 10px;
    overflow-y: scroll;
    height: 450px;
}

.restaurant-list {
    width: 100%;
    margin-right: auto;
    margin-top: 20px;
    background-color: white;
    border: #5BC0DE 3px solid;
    border-radius: 15px 15px 15px 15px;
    padding: 10px 10px 10px 10px;
    overflow-y: scroll;
    height: 600px;
}

/*body {
    height: 100%;
}*/

body, html {
    background-image: url("burger-1835192_1920.jpg");
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
}