<!DOCTYPE html>
<html>
<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>


  <title>Hangry</title>
</head>

<body>

  <div class="container"> 
    <ul>
      {% for message in get_flashed_messages() %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
    <a href="/" name="home">Homepage</a>

    {% block content %} put your content here {% endblock %}

    {% if "user_id" in session %}
      <a href="/logout">Log Out</a>
    {% endif %}
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js">
  </script>
  <script src="/static/cuisine_chart.js"></script>
  <script src="/static/forms.js"></script>
  <script src="/static/more_info.js"></script>
  <script src="/static/menu.js"></script>


</body>

</html>