{% extends 'base.html' %}
{% block content %}

<div class=row>

  <div class="col-xs-6">
    <div class="create-account">
      <h1>Create your Account</h1>
      <h3>The Cure for the Common Hangry</h3>

      <form action="/create-account" method="post">
        Username:
        <input type="text" name="username" required><br><br>
        E-mail address: 
        <input type="email" name="email" required><br><br>
        Password (up to 15 characters): 
        <input type="password" name="password"><br><br>
        Delivery Address:
        <input type="text" name="st_address"><br><br>
        City:
        <input type="text" name="city"><br><br>
        State:
        <select name="state">
          {% for state, abbr in all_states.items()|sort %}
            <option value="{{ abbr }}">{{ state }}</option>
          {% endfor %}
        </select><br><br>
        Zipcode:
        <input type="number" name="zipcode"><br><br>
        Favorite type of restaurant:
        <input type="text" name="cuisine">
        <br><br>
        <input type="submit" value="Create now!">
      </form>
    </div>
  </div>
  <div class="col-xs-6"></div>
</div>

{% endblock %}

<!-- To add - user picks favorite type of cuisine from dropdown menu of cuisines -->