{% extends 'base.html' %}
{% block content %}

<!-- homepage title and caption -->
<div class="row homepage-forms">
  <div class="col-xs-12">

    <div>
    <h1 class="main-title" align="center">Hangry</h1>
    <h2 align="center">For when you're so hungry you can't even.</h2>

    </div>
  </div>

<br><br>


<!-- user login shown only if no user id in session -->
<div class="row">
  <div class="col-xs-12">
    {% if "user_id" not in session %}
    <div class="col-xs-1"></div>
    <div class="col-xs-5" align="center">
      <h3>New to Hangry?</h3><br>
      <button class="btn btn-info" id="showcreateacct">Sign up</button>

      <form action="/create-account" id="createacct" method="post" class="hidden">
        <div class="form-group">
          <label for="new-user">Username </label>
          <input type="text" class="form-control" id="new-user" name="username" required>
        </div>
        <div class="form-group">
          <label for="new-email">E-mail address </label>
          <input type="email" class="form-control" id="new-email" name="email" required>
        </div>
        <div class="form-group">
          <label for"new-password">Password (up to 15 characters)</label>
          <input type="password" class="form-control" id="new-password" name="password">
        </div>
        <div class="form-group">
          <label for"new-address">Delivery Address </label>
          <input type="text" class="form-control" id="new-address" name="st_address">
        </div>
        <div class="form-group">
          <label for="new-city">City </label>
          <input type="text" class="form-control" id="new-city" name="city">
        </div>
        <div class="form-group">
          <label for="new-state">State </label>
          <select id="new-state" class="form-control" name="state">
            {% for state, abbr in all_states.items()|sort %}
              <option value="{{ abbr }}">{{ state }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="new-zipcode">Zipcode </label>
          <input type="number" class="form-control" id="new-zipcode" name="zipcode">
        </div>
        <div class="form-group">
          <label for="new-fav">Favorite type of restaurant </label>
          <input type="text" class="form-control" id="new-fav" name="cuisine">
        </div>
          <input type="submit" class="btn btn-info" value="Create now!">
      </form>
    </div>

<!-- account creation option shown only if no user id in session -->
  <div class="col-xs-5" align="center">
      <h3>Back for More?</h3><br>
      <button class="btn btn-info" id="showlogin">Login</button>

        <form action="/login" id="loginform" method="post" class="hidden">
          <div class="form-group">
            <label for="email">E-mail address: </label>
            <input type="email" class="form-control" name="email"
            id="email" required>
          </div>
          <div class="form-group">
            <label for="password">Password (must be 4 to 12 characters): 
            </label>
            <input type="password" class="form-control" id="password" name="password">
          </div>
            <input type="submit" class="btn btn-info" value="Login">
        </form>
      </div>
      <div class="col-xs-1"></div>
    </div>


    {% else %}

<!-- if user already logged in display user greeting and search box -->
  <div class="col-xs-4"></div>
  <div class="col-xs-4" align="center">
    <h2>Hi, {{ user.username }}!</h2>

    <form action="/search-results" method="get">
      <div class="form-group">
        <label for="home-search">What are you craving? </label>
          <input type="text" class="form-control" name="search" id="home-search"><br>
      
        <input type="submit" class="btn btn-info" value="I'm so Hangry!">
        </div>
      </form><br><br>
    </div>
  <div class="col-xs-4"></div>
</div>


{% endif %}

{% endblock %}

{% block scripts %}

<!-- JS for displaying forms on button clicks -->
  <script src="/static/forms.js"></script>

{% endblock %}