{% extends 'base.html' %}
{% block content %}

<h1>Hey, {{ user.username }}!</h1><br>

<h3>Before you search, make sure your delivery info is correct</h3><br>

<p>Delivery address: {{ address }} <br>
   Favorite cuisine: {{ user.fav_cuisine }}
</p><br>

<button type="button" id="update">Update your information</button>
<form action="/update-account" class="hidden" id="updateform" method="post">
  Username:
  <input type="text" name="username" value="{{ user.username }}"><br><br>
  Email:
  <input type="text" name="email" value="{{ user.email }}"><br><br>
  Street Address:
  <input type="text" name="address" value="{{ user.st_address }}"><br><br>
  City:
  <input type="text" name="city" value="{{ user.city }}"><br><br>
  State:
  <select name="state">
    {% for state, abbr in all_states.items()|sort %}
      <option value="{{ abbr }}">{{ state }}</option>
    {% endfor %}
  </select><br><br>
  Zipcode:
  <input type="text" name="zipcode" value="{{ user.zipcode }}"><br><br>
  Favorite type of restaurant:
  <input type="text" name="cuisine" value="{{ user.fav_cuisine }}"><br><br>
  <input type="submit" value="Submit">
</form>
<br>

<div>
  <h3>Not sure what you want?</h3>
  <h5>These are the top 5 types of restaurants in your delivery area</h3>
  <canvas id="donutChart" width="300" height="300"></canvas>
  <div id="donutLegend" class="chart-legend"></div>
</div><br>

<h3>Search by restaurant or cuisine</h3>
<form action="/search-results" method="get">
  What are you craving? <input type="text" name="search" id="search"><br><br>
  <input type="submit" value="I'm so Hangry!">
</form><br><br>


{% endblock %}